@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

@import './normalize.css';
@tailwind components;
@tailwind base;
@tailwind utilities;

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

::selection {
  background-color: #00ae69;
  color: white !important;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  display: none !important;
  -webkit-appearance: none !important;
}

body {
  background: #f5f5f7;
}

@font-face {
  font-family: 'Pro-bold';
  src: url('../assets/fonts/pro-display/SFPRODISPLAYBOLD.OTF');
}

.router-link-active {
  background-color: #36f;
  opacity: 1 !important;
  color: white;
}


/* width */
::-webkit-scrollbar {
  width: 1px;
  height: 10px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #36f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(24, 64, 185);
}